bin
plys
objs
imgs
guiones
srcs
include

Camara.cpp
Camara.hpp
CamaraInter.cpp
CamaraInter.hpp
Parametro.cpp
Parametro.hpp
cauce.cpp
cauce.hpp
makefile
materiales.cpp
materiales.hpp
practicas.hpp
simple_fs.glsl
simple_vs.glsl

practica4.*
practica5.*
